<% @movie[0]['id']%>

<p> Movie Title: <%=@movie[0]['title']%></p>
<p> Movie Plot: <%=@movie[0]['plot']%></p>
<p> Movie Genre: <%=@movie[0]['genre']%></p>
<p> Movie Year: <%=@movie[0]['year']%></p>
<p> Movie Actors: <%=@movie[0]['actors']%></p>
